<ion-header [translucent]="true">
 
    </ion-header>
    
    <ion-content [fullscreen]="true">
      <div class="slider-container">
        <div class="slide">
          <h1>
            <!-- Bind the parts of the title -->
            <span>{{splitTitle(sliderItems[currentSlide]).before}}</span>
            <span style="color: red;">{{splitTitle(sliderItems[currentSlide]).red}}</span>
            <span>{{splitTitle(sliderItems[currentSlide]).after}}</span>
          </h1>
          <img [src]="sliderItems[currentSlide].image">
        </div>
        <ion-button *ngIf="!(currentSlide === this.sliderItems.length - 1)" class="right" (click)="forward()">Forward</ion-button> 
        <ion-button (click)="auto()">Autoplay</ion-button>
      </div>
      
    
    

<!-- Display a message if 'word' is undefined -->
<div *ngIf="!word">
  <p>Word not found</p>
</div>

<div *ngIf="word">
  <ion-button (click)="showComments()">{{commentsButton}}</ion-button>
   <div *ngIf="comments">
  <div *ngFor="let translation of word.translations">
    {{ getFlagEmoji(translation.language) }} 
    {{ translation.text }}, 
    {{ getExampleTranslation(word.translations1, translation.language) }}, 
    {{ getExampleTranslation(word.translations2, translation.language) }}
  </div>

</div>

</div>



       
  </ion-content>
    