<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Text to Speech Test commumity plugin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="button"> <ion-button  routerLink="/text-to-speech"  routerDirection="forward" class="button" expand="block" shape="round" >text to speech </ion-button></div>
    <div id="button"> <ion-button  routerLink="/calender"  routerDirection="forward" class="button" expand="block" shape="round" >Learning Calender</ion-button></div>
    <div id="button"> <ion-button  routerLink="/slider"  routerDirection="forward" class="button" expand="block" shape="round" >Slider for Video Social Media</ion-button></div>
    <div id="button"> <ion-button  routerLink="/slider-french"  routerDirection="forward" class="button" expand="block" shape="round" >Slider for Video Social Media</ion-button></div>

   
    <p>Start with Ionic  Framework <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
